body{
    background-color: lightblue;
}

h1{
    color:brown;
}

div{
    color: red;
    font-weight: bold;
}

input{
    width: 50%;
    padding: 10px;
}

select{
    width: 50%;
    padding: 10px;
    border-radius: 2px;
    color: blue;
}
